<div class="Presences">
  <div class="Presences-list" data-controller="presences" data-presences-current_user_id=<%= current_user.id %>>
    <% @users.each do |user| %>
      <button
        class="Presences-user Presences-user--<%= user.status %>"
        data-user_id="<%= user.id %>"
        data-action="click->presences#toggleStatus contextmenu->presences#toggleDutyType"
      >
        <span class="Presences-user--block Presences-userName"><%= user.username %></span>

        <% if user.duty_type.present? %>
          <div class="Presences-userDutyType Presences-userDutyType--<%= user.duty_type %>">
            <%= User.human_enum_name(:duty_type, user.duty_type) %>
          </div>
        <% end %>

        <div class="Presences-user--block Presences-userStatus">
          <% unless user.unavailable? %>
            <%= User.human_enum_name(:status, user.status) %>
          <% end %>
        </div>
      </button>
    <% end %>
  </div>

  <div class="Presences-statuses">
    <div class="Presences-statuses--available">
      <h3><%= User.human_enum_name(:status, :available) %></h3>
      <% @available_users.each do |user| %>
        <span><%= user.username %></span>
      <% end %>
    </div>

    <div class="Presences-statuses--service">
      <h3><%= User.human_enum_name(:status, :service) %></h3>
      <% @service_users.each do |user| %>
        <span><%= user.username %></span>
      <% end %>
    </div>

    <div class="Presences-statuses--picket">
      <h3><%= User.human_enum_name(:duty_type, :picket) %></h3>
      <% @picket_users.each do |user| %>
        <span><%= user.username %></span>
      <% end %>
    </div>

    <% @elac_users.any? do %>
      <div class="Presences-statuses--elac">
        <h3><%= User.human_enum_name(:duty_type, :elac) %></h3>
        <% @elac_users.each do |user| %>
          <span><%= user.username %></span>
        <% end %>
      </div>
    <% end %>

    <% @eip_users.any? do %>
      <div class="Presences-statuses--eip">
        <h3><%= User.human_enum_name(:duty_type, :eip) %></h3>
        <% @eip_users.each do |user| %>
          <span><%= user.username %></span>
        <% end %>
      </div>
    <% end %>

    <%= link_to t("menu"), root_path, { class: "Presences-back" } %>
  </div>
</div>
