<div>
  <h2>Login</h2>

  <%= form_with model: @user, url: login_path, method: :post do |f| %>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Login" %>
    </div>
  <% end %>
</div>
