<div class="Users">
  <div class="Users-list" data-controller="users" data-users-current_user_id=<%= current_user.id %>>
    <% @users.each do |user| %>
      <div>
        <span><%= user.username %></span>
        <span><%= user.status %></span>
        <button
          data-user_id="<%= user.id %>"
          data-reflex="click->UserReflex#toggle_status"
        >Toggle Status</button>
      </div>
    <% end %>
  </div>

  <div class="Users-statuses">
    <h2><%= t("available") %></h2>

    <% @available_users.each do |user| %>
      <p><%= user.username %></p>
    <% end %>

    <h2><%= t("service") %></h2>

    <% @service_users.each do |user| %>
      <p><%= user.username %></p>
    <% end %>
  </div>
</div>
