<%= form_with model: @schedule, method: :post do |f| %>
  <div>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "DatePicker-datetime" %>
    <%= render(FieldErrorsComponent.new(@schedule, :start_date)) %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "DatePicker-datetime" %>
    <%= render(FieldErrorsComponent.new(@schedule, :end_date)) %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, @statuses %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
