<div class="Home-Wrapper">
  <div class="Home-Header">
    <h1><%= t("welcome") %> <%= current_user.username %></h1>
    <div class="Home-Logout">
      <% if current_user %>
        <%= button_to logout_path, {class: 'Button'} do %>
          Logout
        <% end %>
      <% end %>
    </div>
  </div>
  <% if current_user.admin? %>
  <div class="Home-Menu">
      <%= link_to t("presences"), presences_path, {class:"Link Link-green"} %>
      <%= link_to t("admin"), admin_users_path, {class: "Link Link-grey", "data-turbolinks": false} %>
  <% end %>
  <%= link_to t("schedules"), new_schedule_path, {class: "Link Link-grey"} %>
</div>
