<!DOCTYPE html>
<html>
  <head>
    <title>FirefightersMonitor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <% if current_user %>
      <%= button_to "Sign Out", logout_path, remote: true %>
    <% end %>

    <%= yield %>
  </body>
</html>
