<!DOCTYPE html>
<html>
  <head>
    <title>FirefightersMonitor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(FlashMessageComponent.new(flash: flash)) %>

    <% if current_user %>
      <%= button_to "Sign Out", logout_path, remote: true %>
    <% end %>

    <%= yield %>
  </body>
</html>
